<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      yasai - <%=h @book.author %> - <%=h @book.title %> - <%=h @page %>
    </title>
    <% if @page != 1 %>
    <link rel="canonical" href="http://yasai.heroku.com/read/<%=h @book_id %>/page/1" />
    <% end %>
  </head>
  <body>
    <div class="autopagerize_page_element">
      <img src="/read/<%=h @book_id %>/image/<%=h @page %>.jpg" style="min-height: 700px; width: 100%;"/>
    </div>
    <div class="autopagerize_insert_before"></div>
    <a href="/read/<%=h @book_id %>/page/<%=h @page + 1%>" rel="next">next</a>
  </body>
</html>
