<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      yasai - <%=h @book.author %> - <%=h @book.title %> - <%=h @page %>
    </title>
  </head>
  <body>
    <div class="autopagerize_page_element">
      <a href="/read/<%=h @book_id %>/page/<%=h @page + 1%>" rel="next">
        <img src="/read/<%=h @book_id %>/image/<%=h @page %>.jpg" style="min-height: 700px; width: 100%;"/>
      </a>
    </div>
    <div class="autopagerize_insert_before"></div>
    <a href="/read/<%=h @book_id %>/page/<%=h @page + 1%>" rel="next">next</a>
  </body>
</html>
